
<form action="/users/envio" method="POST"> 
<p>nome:</p>
<input type="text" name="nome">
<p>senha</p>
<input type="text" name="senha">
<p>biografia</p>
<textarea name="biografia"></textarea>
<button type="submit"> cadastrar </button>
</form>